Source: dtmi
Section: utils
Priority: optional
Maintainer: Holger Schinzel <holger@dtmi.org>
Uploaders: Holger Schinzel <holger@dtmi.org>
Build-Depends: debhelper,
 devscripts,
 automake,
 libtool,
 bash-completion,
 libdb4.8++-dev,
 libssl-dev,
 pkg-config,
 libevent-dev,
 libboost-system1.48-dev | libboost-system-dev (>> 1.35),
 libboost-filesystem1.48-dev | libboost-filesystem-dev (>> 1.35),
 libboost-program-options1.48-dev | libboost-program-options-dev (>> 1.35),
 libboost-thread1.48-dev | libboost-thread-dev (>> 1.35),
 libboost-test1.48-dev | libboost-test-dev (>> 1.35),
 libboost-chrono1.48-dev | libboost-chrono-dev (>> 1.35),
 qt4-qmake,
 libqt4-dev,
 libqrencode-dev,
 libprotobuf-dev, protobuf-compiler,
 python
Standards-Version: 3.9.2
Homepage: https://www.dtmi.org/
Vcs-Git: git://github.com/dtmipay/dtmi.git
Vcs-Browser: https://github.com/dtmipay/dtmi

Package: dtmid
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer network based digital currency - daemon
 Dtmi is an experimental new digital currency that enables anonymous, instant
 payments to anyone, anywhere in the world. Dtmi uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. Dtmi Core
 is the name of the open source software which enables the use of this currency.
 .
 This package provides the daemon, dtmid, and the CLI tool
 dtmi-cli to interact with the daemon.

Package: dtmi-qt
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer network based digital currency - Qt GUI
 Dtmi is an experimental new digital currency that enables anonymous, instant
 payments to anyone, anywhere in the world. Dtmi uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. Dtmi Core
 is the name of the open source software which enables the use of this currency.
 .
 This package provides Dtmi-Qt, a GUI for Dtmi based on Qt.

Package: dtmi-tx
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: peer-to-peer digital currency - standalone transaction tool
 Dtmi is an experimental new digital currency that enables anonymous, instant
 payments to anyone, anywhere in the world. Dtmi uses peer-to-peer
 technology to operate with no central authority: managing transactions
 and issuing money are carried out collectively by the network. Dtmi Core
 is the name of the open source software which enables the use of this currency.
 .
 This package provides dtmi-tx, a command-line transaction creation
 tool which can be used without a dtmi daemon.  Some means of
 exchanging minimal transaction data with peers is still required.
